<div class="text-sm font-medium text-center text-gray-500 border-gray-200 dark:text-gray-400 dark:border-gray-700">
    <ul class="list-none flex flex-wrap -mb-px">
        <li class="mr-2">
            <a href="{{ site.url }}/"
                class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300"
                aria-current="page">About</a>
        </li>
        <li class="mr-2">
            <a href="{{ site.url }}/project.html"
                class="inline-block p-4 rounded-t-lg border-b-2 border-transparent hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300">Projects</a>
        </li>
    </ul>
</div>
<div class="mt-10">
    {{ content }}
</div>